html {
  overflow-y: scroll;
}

a:link {
    color: #775253
}

a:visited {
    color: #775253
}

a:hover {
    color: #351431
}

a:active {
    color: #775253
}

p {
    font-family: 'Open Sans', sans-serif;
}

li {
    font-family: 'Open Sans', sans-serif;
}

table {
    font-family: 'Open Sans', sans-serif;
}

footer {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h2 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h3 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h4 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h5 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h6 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

code {
    font-size: 18px;
}

blockquote {
    font-style: italic;
}

#siteName {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

#siteName a {
    color: inherit;
    text-decoration: inherit;
}